#google{
    margin-top: 244px;
    margin-bottom: 244px;
    margin-left: 500px;
    margin-right: 500px;
}
input[type="button"]{
    text-align: center;
    
}
input[type="text"]{
    margin-left: -100px;
}
#poa{
    width: 54px;
    height: 55px;
    
    margin-right: 10px;
    margin-top: -1px;
    border-style: solid;
}

    
}